

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../app.css">
  <title>Preview</title>
</head>
<body class="bg-white p-12">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-8 gap-6">
                        <div class="bg-dw-black w-40 h-40 text-white flex flex-col items-center justify-center">
                <p>dw-black</p>
                <p>#444</p>
            </div>
                                <div class="bg-dw-cyan w-40 h-40 text-white flex flex-col items-center justify-center">
                <p>dw-cyan</p>
                <p>#009BDC</p>
            </div>
                                <div class="bg-dw-violet w-40 h-40 text-white flex flex-col items-center justify-center">
                <p>dw-violet</p>
                <p>#5A2572</p>
            </div>
                                <div class="">
                                    <div class="bg-dw-gray-dark w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-gray-dark</p>
                        <p>#777</p>
                    </div>
                                    <div class="bg-dw-gray-light w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-gray-light</p>
                        <p>#d1d1d1</p>
                    </div>
                            </div>
                                <div class="">
                                    <div class="bg-dw-area-1-100 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1-100</p>
                        <p>#814887</p>
                    </div>
                                    <div class="bg-dw-area-1-200 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1-200</p>
                        <p>#784787</p>
                    </div>
                                    <div class="bg-dw-area-1-300 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1-300</p>
                        <p>#72357C</p>
                    </div>
                                    <div class="bg-dw-area-1-400 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1-400</p>
                        <p>#69357C</p>
                    </div>
                                    <div class="bg-dw-area-1-500 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1-500</p>
                        <p>#642472</p>
                    </div>
                                    <div class="bg-dw-area-1 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-1</p>
                        <p>#5A2572</p>
                    </div>
                            </div>
                                <div class="">
                                    <div class="bg-dw-area-2-100 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2-100</p>
                        <p>#5D4587</p>
                    </div>
                                    <div class="bg-dw-area-2-200 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2-200</p>
                        <p>#544587</p>
                    </div>
                                    <div class="bg-dw-area-2-300 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2-300</p>
                        <p>#4B357C</p>
                    </div>
                                    <div class="bg-dw-area-2-400 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2-400</p>
                        <p>#41347C</p>
                    </div>
                                    <div class="bg-dw-area-2-500 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2-500</p>
                        <p>#3A2673</p>
                    </div>
                                    <div class="bg-dw-area-2 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-2</p>
                        <p>#2E2672</p>
                    </div>
                            </div>
                                <div class="">
                                    <div class="bg-dw-area-3-100 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3-100</p>
                        <p>#914987</p>
                    </div>
                                    <div class="bg-dw-area-3-200 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3-200</p>
                        <p>#894987</p>
                    </div>
                                    <div class="bg-dw-area-3-300 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3-300</p>
                        <p>#85357C</p>
                    </div>
                                    <div class="bg-dw-area-3-400 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3-400</p>
                        <p>#7C357C</p>
                    </div>
                                    <div class="bg-dw-area-3-500 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3-500</p>
                        <p>#782172</p>
                    </div>
                                    <div class="bg-dw-area-3 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-3</p>
                        <p>#6E2272</p>
                    </div>
                            </div>
                                <div class="">
                                    <div class="bg-dw-area-4-100 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4-100</p>
                        <p>#6F4787</p>
                    </div>
                                    <div class="bg-dw-area-4-200 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4-200</p>
                        <p>#674687</p>
                    </div>
                                    <div class="bg-dw-area-4-300 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4-300</p>
                        <p>#5F357C</p>
                    </div>
                                    <div class="bg-dw-area-4-400 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4-400</p>
                        <p>#55357C</p>
                    </div>
                                    <div class="bg-dw-area-4-500 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4-500</p>
                        <p>#502572</p>
                    </div>
                                    <div class="bg-dw-area-4 w-40 h-40 text-white flex flex-col items-center justify-center mb-2">
                        <p>dw-area-4</p>
                        <p>#462672</p>
                    </div>
                            </div>
            </div>

</body>
</html>
