

<!doctype html>
<html dir="ltr" lang="de-DE">
<head>
    <meta charset="UTF-8">
    <title>Error Page Preview</title>
    <meta name="robots" content="noindex,nofollow,noarchive,noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../app.css">
</head>

<body lang="de-DE" class="debug-screens">
<div class="bg-gradient-to-br from-dw-area-3 to-dw-area-2 text-white min-h-screen flex items-center">
    <div class="container mx-auto p-4 flex flex-wrap items-center">
    <div class="w-full md:w-5/12 text-center p-4">
        <img src="../../img/undraw_warning_cyit.svg" alt="">
    </div>
    <div class="w-full md:w-7/12 text-center md:text-left p-4">
        <div class="text-6xl font-medium">404</div>
        <div class="text-xl md:text-3xl font-medium mb-4">
            Seite nicht gefunden
        </div>
        <div class="text-lg mb-8">
            Die von Ihnen aufgerufene Seite wurde verschoben, entfernt oder hat niemals existiert.
        </div>
                    <a href="#" class="btn btn-submit-dark">Zur Startseite</a>
            </div>
</div>
</div>
</body>
</html>
