<nav class="dw-tile bg-dw-area-1 print:hidden">
    <ul class="flex flex-row flex-wrap justify-center text-lg font-bold">
        {% for page in pages %}
            <li class="px-3"><a href="#">{{ page }}</a></li>
        {% endfor %}
    </ul>
</nav>