<!doctype html>
<html dir="ltr" lang="de-DE">
<head>
    <meta charset="UTF-8">
    <title>Error Page Preview</title>
    <meta name="robots" content="noindex,nofollow,noarchive,noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/app.css' | path }}">
</head>

<body lang="de-DE" class="debug-screens">
<div class="bg-gradient-to-br from-dw-area-3 to-dw-area-2 text-white min-h-screen flex items-center">
    {{ yield | raw }}
</div>
</body>
</html>