<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/app.css' | path }}">
  <title>Preview</title>
</head>
<body class="bg-white p-12">

  {{ yield | raw }}

</body>
</html>